@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-brand-light text-brand-charcoal antialiased;
}

#root {
  @apply min-h-screen;
}

h1, h2, h3, h4 {
  @apply font-heading text-brand-black;
}
